{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}

<div itemscope itemtype="https://schema.org/Person" class="h-card">

  {% if author.avatar %}
    <div class="author__avatar">
      <a href="{{ author.home | default: '/' | absolute_url }}">
        <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}" itemprop="image" class="u-photo">
      </a>
    </div>
  {% endif %}

  <div class="author__content">
    <h3 class="author__name p-name" itemprop="name">
      <a class="u-url" rel="me" href="{{ author.home | default: '/' | absolute_url }}" itemprop="url">{{ author.name }}</a>
    </h3>
    {% if author.bio %}
      <div class="author__bio p-note" itemprop="description">
        {{ author.bio | markdownify }}
      </div>
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">{{ site.data.ui-text[site.locale].follow_label | remove: ":" | default: "Follow" }}</button>
    <ul class="author__urls social-icons">
      <!-- Your social media links here -->
      <!-- The actual social media links should be here as per your site's setup -->
    </ul>

    <!-- Penn Logo -->
    <img src="{{ '/assets/images/pennlogo.png' | relative_url }}" alt="Penn Logo" style="max-width: 100%; display: block; margin-top: 20px;">
    <!-- Penn Medicine Logo with Link -->
    <a href="https://www.med.upenn.edu/" style="display: block; margin-top: 20px; max-width: 100%;">
      <img src="https://www.med.upenn.edu/images/psom_logo_blue.svg" alt="Perelman School of Medicine at the University of Pennsylvania" style="max-width: 100%;">
    </a>
  </div>
</div>
